/**
 * the stylesheet of slide
 * @author SidKwok
 * 2016.8.2
 */

.slide .pics-layer {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide .pics-layer .pics {
    position: absolute;
    top: 0px;
    transition: 1s;
}
.slide .pics-layer .pics img {
    display: block;
}

.slide .pics-layer .pagination {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
