#play-pic {
    position: relative;
    width: 500px;
    height: 300px;
}

#play-pic .pics,
#play-pic .pagination,
#play-pic img {
    position: absolute;
}

#play-pic .pagination {
    right: 10px;
    bottom: 10px;
}

#play-pic .pics,
#play-pic img {
    width: 100%;
    height: 100%;
}

#play-pic .pic1,
#play-pic .pic2,
#play-pic .pic3 {
    transition: 1s;
}

#play-pic .pic2,
#play-pic .pic3 {
    opacity: 0;
}
